#database_info{
    border: 2px solid black;
}

.fields_container {
    float: left;
    margin: 10px 30px 10px 0px;
}

#main_container > div{
    width: 100%;
    float: left;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
}



.tbl_header {
    font-weight: bold;
    text-decoration: underline;
}

.navigation {
    margin-bottom: 60px;
}

li{
    list-style: none;
}

input[type=checkbox]{
    margin-right: 7px;
}

.radio{

    padding-left:0px;
}

#form_customizer {
    float: right;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

#form{
    float: left;
    border-right: 2px solid black;
    padding-right: 120px;
}

#btn_connect {
    float: left;
}
#db {
    float: left;
    margin-right: 10px;
}

#generate_html {
    float: right;
}