#tables{
	background-color: #228B22;
}

#form_container{
	background-color: #CC6600;
}

.fields_container {
    float: left;
    margin: 10px 30px 10px 0px;
}

#main_container > div{
	width: 100%;
	float: left;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

#fields {
   
    background-color: #FFA;
}

.tbl_header {
    font-weight: bold;
    text-decoration: underline;
}

.navigation {
    margin-bottom: 60px;
}

li{
	list-style: none;
}

input[type=checkbox]{
    margin-right: 7px;
}